<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	 <link rel='stylesheet' href='../style.css' />
</head>
<body>
	<div>
			<a href="/login">Login</a>
			<a href="/search">Search</a>
			<a href="/signup">Sign Up</a>
		<form method="POST" action="/logout?_method=DELETE">
			<button>Logout</button>
		</form>
		</div>
<% results.forEach(function(info) { %>
			<p><%= info.likeUrl %></p>
		<% }) %>
	<div><%= results%></div>	
	<h1>Profile page</h1>
	<h2>you the real MVP</h2>
	<h2>Hey allstar <%= user.userName %></h2>
	<h2><%= user.email %></h2>
	<h2><%= user.firstName %> <%= user.lastName %></h2>

</body>
</html>